Source: http-reverse-proxy
Section: net
Priority: extra
Maintainer: Tonnerre Lombard <tonnerre@ancient-solutions.com>
Build-Depends: debhelper (>= 8.0.0), golang-go | gccgo, golang-goprotobuf-dev
Standards-Version: 3.9.4
Homepage: http://www.ancient-solutions.com/
Vcs-Git: http://git.ancient-solutions.com/nettools/http-reverse-proxy.git
Vcs-Browser: http://git.ancient-solutions.com/cgi-bin/gitweb.cgi?p=nettools/http-reverse-proxy.git;a=summary

Package: http-reverse-proxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, run-as-daemon (>= 1.0)
Description: HTTP reverse proxy differenciating by Host: header
 Finds its backends according to Host header from a configuration file,
 and keeps connections to all of them for as long as possible. Reestablishes
 connections in the background and balances over them using a round-robin
 algorithm.
